:root {
    --primary: #ef443b;
    --secondary: #FF8E91;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --warning: #ffc107;
    --light: #f8f9fa;
    --dark: #343a40;
    --dark1: #464646;
}

html {
    font-size: 62.5%;
    background-color: var(--dark);
    color: var(--white);
}

body {
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
}

.titulo {
    text-align: center;
    font-size: 6rem;
    font-family: 'Stalemate', cursive;
    font-weight: 700;
}

.titulo span {
    font-size: 1rem;
    font-family: 'Quicksand', sans-serif;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.nav-bg {
    background-color: var(--warning);
}

.navegacion-principal {
    padding: 1rem; /*aumenta el espacio del padding en este caso 1 rem arriba y abajo*/
    display: flex; /*activa flexboz se debe aplicar sobre el elemento padre en este caso sobre .navegacion-principal para poder dar forma a los enlaces de a*/
    flex-direction: column;
    justify-content: space-between; /*organiza el elemento el primer y ultimo elemento cada uno a las esquinas y los del centro les da un espacio igual a cada uno "ver en inspect sobre el navegador"*/
    align-items: center;
}
@media (min-width: 480px) {
    .navegacion-principal {
        flex-direction: row;
    }
}

@media (min-width: 768px) {
    .navegacion-principal {
        flex-direction: row;
    }
}

.navegacion-principal a {
    margin: 1rem;
    color: var(--white);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
}

.navegacion-principal a:hover{
    color: var(--primary);
    background-color: var(--dark);
}

@media (min-width: 480px) {
 .navegacion-principal a {
    margin: 0rem;
 }
}

input, textarea{
    background-color: var(--dark);
    color: var(--white);
} 


